---
- name: Retrieving guacamole-auth-jdbc-{{ guacamole_version }}
  ansible.builtin.get_url:
    url: http://apache.org/dyn/closer.cgi?action=download&filename=guacamole/{{ guacamole_version }}/binary/guacamole-auth-jdbc-{{ guacamole_version }}.tar.gz
    dest: /tmp/

- name: Unarchiving guacamole-auth-jdbc-{{ guacamole_version }}
  ansible.builtin.unarchive:
    src: /tmp/guacamole-auth-jdbc-{{ guacamole_version }}.tar.gz
    dest: /tmp/
    copy: no
